@page "/"
@inherits ReactiveUI.Blazor.ReactiveComponentBase<BlazorChat.UI.Shared.Features.HostScreen.HostScreenViewModel>

<h1>Hello, world!</h1>

Welcome to your new app.

<Row>
    <button @onclick="@(() => ViewModel?.NavigateCounterCommand.Execute().Subscribe())">
        Counter
    </button>
    <button @onclick="@(() => ViewModel?.NavigateForecastCommand.Execute().Subscribe())">
        Weather Forecast
    </button>
    <button @onclick="@(() => ViewModel?.NavigateChatCommand.Execute().Subscribe())">
        Chat
    </button>
    <button @onclick="@(() => ViewModel?.NavigateLoginCommand.Execute().Subscribe())">
        Login
    </button>
</Row>
